#################
## RubyMine
#################

#IDE meta data directory
.project
.buildpath
.idea/

#output files
test/**/*.xml
trace.txt
output*
result*
*.duxml
xml/~*
*log.txt
*profile.txt
*.rng
#backup zip