#data source files
/xml/Dita 1.3 Manual Spec Conversion.xlsx

#################
## RubyMine
#################

#IDE meta data directory
.project
.buildpath
.idea/

#output files
test/**/*.xml
trace.txt
output*
result*
*.duxml
xml/~*
*log.txt
*profile.txt
*.rng
#coverage
**/coverage/**